* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    display: grid;
    place-items: center;
    background: black;
}

.clock {
    background: black;
    height: 120px;
    width: 500px;
    text-align: center;
    line-height: 120px;
    padding: 0 5px;
    box-shadow: -3px -3px 20px rgba(255, 255, 255, 0.5);
}

.display {
    color: cyan;
    font-size: 70px;
    letter-spacing: 5px;
    font-family: "orbitron"sans-serif;
}