  @import url('https://fonts.googleapis.com/css2?family=Peralta&family=Poppins:ital,wght@0,100;0,200;0,700;1,300;1,600&family=Qwigley&display=swap');

  *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
  }

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:khaki;
}

.wrapper{
    height: 120px;
    min-width: 380px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.wrapper span{
    width: 100%;
    text-align: center;
    font-size: 55px;
    font-weight: 600;
    cursor: pointer;
}

.wrapper span.num{
    font-size: 50px;
    border-right: 2px solid rgba(0,0,0,0.2);
    border-left: 2px solid rgba(0,0,0,0.2);
    pointer-events: none;
}