*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6f7fb;
}

.container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 420px;
    /* background: gray; */
    justify-content: center;
}

.container .box {
    position: relative;
    height: 160px;
    width: 160px;
    border-radius: 12px;
    border: 2px solid black;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}


.box .image{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-image: url("IMG.jpg");
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.box.hovered{
    border: 2px dashed #333; 
}